<div class="map" id="map" *ngIf="lat && lng">
  <agm-map [latitude]="lat" [longitude]="lng" >
    <agm-marker  [latitude]="lat" [longitude]="lng">
      <agm-info-window>
        <h3><strong>Howdy!</strong></h3>
        <p>You are here!</p>
      </agm-info-window>
    </agm-marker>

  

    <agm-marker *ngFor="let places of data"
    [latitude]="places.coords.latitude"
    [longitude]="places.coords.longitude">
    <agm-info-window>
      <h3><strong>{{places.Nama}}</strong></h3>
      <ion-button fill="clear" id="end" value="places.coords" (click)="setRoute(places.coords.latitude,places.coords.longitude)">  
      a<agm-direction *ngIf="doIt"
        [origin]= "started"
        [destination]= "ended" >
      </agm-direction></ion-button>
    </agm-info-window>
    </agm-marker>

    <agm-direction *ngIf="ended"
    [origin]= "started"
    [destination]= "ended" >
  </agm-direction>
  </agm-map>
</div>

<!-- <!DOCTYPE html>
<html>
    <head>
        <Include Google Maps JS API -->
        <!-- <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCw_G0NAxJtSBntEVhgXGW79S_Z8_DjmlU&sensor=false"></script>
    </head> -->
    <!-- <ion-content padding>
      <a class="sourcecode" href="https://github.com/mapsplugin/ionic-googlemaps-quickdemo-v4/blob/master/src/app/home/home.page.ts" target="_blank">[source code]</a>
      <h3>Ionic GoogleMaps Demo</h3>
      <p>
      The <a href="https://github.com/ionic-team/ionic-native-google-maps">@ionic-native/google-maps</a> plugin and the <a href="https://github.com/mapsplugin/cordova-plugin-googlemaps" target="_blank">cordova-plugin-googlemaps</a> are able to display Google Maps in your Cordova application.
      One source code, then run it browser, Android and iOS!
      </p>
      <div class ="map" id="map">
        <ion-button ion-button (click)="onButtonClick()">Demo</ion-button>
      </div>
    </ion-content> -->